---
http_interactions:
- request:
    method: post
    uri: http://api.knapsackpro.dev:3000/v1/build_distributions/subset
    body:
      encoding: UTF-8
      string: '{"commit_hash":"abcdefg","branch":"master","node_total":"2","node_index":"1","test_files":[{"path":"a_spec.rb"},{"path":"b_spec.rb"}],"test_suite_token":"3fa64859337f6e56409d49f865d13fd7"}'
    headers:
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: 'OK '
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Etag:
      - W/"2348448eb68a360747d21fe1bb304d5b"
    body:
      encoding: UTF-8
      string: '{"node_index":1,"test_files":[{"path":"b_spec.rb","time_execution":null}]}'
  recorded_at: Fri, 31 Jul 2015 15:56:33 GMT
recorded_with: VCR 2.9.3
